#listPokemons {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: 1fr;

  padding: 0;
  margin: 0.5rem 0;
  list-style: none;
}

.pokemon {
  display: flex;
  flex-direction: column;

  font-weight: bold;
  border-radius: 0.4rem;
  padding: 0.2rem 0.5rem;
  box-shadow: 1px 1px 5px 1px;
}

.pokemon_header {
  display: flex;
  justify-content: space-between;

  padding-top: 0.6rem;
}

.pokemon_header_number {
  opacity: 0.7;
  text-align: right;
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
}

.pokemon_header_name {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemon_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon_details_types {
  margin: 0;
  list-style: none;
  padding: 0 0.4rem;
  line-height: 1.8rem;
}

.pokemon_details_types_type {
  width: 6rem;
  margin: 0.4rem 0;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.125rem 1rem;
  border: 1px solid #000;
}

.pokemon_details_img {
  width: 100px;
  height: 100%;
  filter: drop-shadow(2px 2px 3px #000);
}

.pokemon_more-details {
  display: none;
}

.pokemon_more-details_short-data {
  display: flex;
  justify-content: space-around;

  color: #000;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.325rem 0;
}

.pokemon_more-details_short-data_height,
.pokemon_more-details_short-data_weight,
.pokemon_more-details_short-data_base-experience {
  min-width: 5.75rem;
  background: #f3f3f3;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 2px;
  padding: 0.25rem 0.5rem;
  border: 1px solid #333;
}

.pokemon_more-details_abilities,
.pokemon_more-details_stats,
.pokemon_more-details_held-items {
  padding: 0.2rem;
}

.pokemon_more-details_abilities_title,
.pokemon_more-details_stats_title,
.pokemon_more-details_held-items_title {
  font-size: 0.9rem;
}

.pokemon_more-details_abilities_list {
  display: flex;
  justify-content: space-around;

  color: #000;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.pokemon_more-details_abilities_list_ability,
.pokemon_more-details_held-items_list_item {
  text-transform: capitalize;
}
.pokemon_more-details_abilities_list_ability {
  min-width: 5rem;
  text-align: center;
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-shadow: 1px 1px 2px;
  border: 1px solid #000;
  background-color: #fff;
}

.pokemon_more-details_abilities_list_ability_hidden {
  background-color: goldenrod;
}

.pokemon_more-details_stats_title {
}

.pokemon_more-details_stats_list {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;

  color: #000;
  font-size: 0.725rem;
  padding: 0 0.5rem;
}

.pokemon_more-details_stats_list_stat {
  display: flex;
  justify-content: space-between;
}

.pokemon_more-details_stats_list_stat_name {
  text-transform: uppercase;
}

.pokemon_more-details_stats_list_stat_base-stat {
}

.pokemon_more-details_held-items {
}

.pokemon_more-details_held-items_title {
}

.pokemon_more-details_held-items_list {
  display: flex;
  justify-content: space-around;

  color: #000;
  font-size: 0.8rem;
  padding: 0 0.5rem;
}

.pokemon_more-details_held-items_list_item {
  min-width: 5rem;
  text-align: center;
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-shadow: 1px 1px 2px;
  border: 1px solid #000;
  background-color: #fff;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
  #listPokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  #listPokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* MEDIA QUERIES */
